<header class="small menu-header">
  <h3 class="title">Team Chat</h3>
</header>

<ul class="messages-list">
  <% messages.reverse.each do |message| %>
    <li class="message" data-behavior="chat-message">
      <strong><%= message.user.full_name %> : </strong>
      <p class="message-content"><%= message.content %></p>
    </li>
  <% end %>
</ul>

<div class="chat-controls">
  <input class="message-input" type="text" placeholder="Send a message">
</div>
