// -------------------------------------------
//   Cross browser css transitions
// -------------------------------------------

@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}
