// -------------------------------------------
//   Transform attribute, w/vendor prefixes
// -------------------------------------------

@mixin transform($property) {
  transform: $property;
  -ms-transform: $property;
  -webkit-transform: $property;
}
