// -------------------------------------------
//   Horizontal menu
// -------------------------------------------

.horizontal-menu {
  left: $content-offset-left;
  right: 0px;
  height: $content-offset-top;
  background-color: $cornflower-blue;
  color: $white;
}

.horizontal-menu-list {
  display: inline-block;
  right: 0;
  margin: 0;
  list-style: none;
  @include clearfix();

  .menu-item {
    float: left;
    margin: 0 5px;

    line-height: $content-offset-top;
    font-size: 12px;
  }

  .iconic-item {
    line-height: $content-offset-top + 10;

    a {
      color: $white;
      text-decoration: none;
      font-size: 20px;
    }
  }
}
