// -------------------------------------------
//   Vertical navigation
// -------------------------------------------

.vertical-menu {
  width: $content-offset-left;
  background-color: $outer-space;
  color: $white;
}
