// -------------------------------------------
//   Variables
// -------------------------------------------

/* Colors */
$apple: #38b449;
$blue-haze: #c8d0de;
$blue: #0474c8;
$cornflower-blue: #2f87c1;
$dark-green: #249533;
$gray: #5f6975;
$green: #45b854;
$lynch: #70829a;
$mystica: #dfe4ee;
$outer-space: #30363e;
$persian-red: #cc3333;
$pink: #e65097;
$shark: #26292e;
$white: #fff;

/* Measures */
$content-offset-left: 70px;
$content-offset-top: 60px;
