<section class="fixed-top horizontal-menu">
  <ul class="fixed-right horizontal-menu-list">
    <li class="menu-item">
      <h3><%= current_user.full_name %></h3>
    </li>
    <li class="menu-item iconic-item">
      <a href="#" data-behavior="logout"><i class="icon-exit"></i></a>
    </li>
  </ul>
</section>

<section class="fixed-left vertical-menu">
  <header class="menu-header"></header>

  <nav role="navigation">
    <ul>
    </ul>
  </nav>
</section>
