// -------------------------------------------
//   Login Form
// -------------------------------------------

.login-form{

  .button {
    position: absolute;
    right: 0;
  }

  .error-field {
    text-align: center;
    font-size: 13px;
    margin: 15px;
    color: $persian-red;
  }
}
