// -------------------------------------------
//   Menu Header
// -------------------------------------------

.menu-header {
  position: relative;
  height: 60px;

  color: $white;
  text-align: center;
  background-color: #1f70a8;

  .title {
    margin: 0;

    line-height: 60px;
  }

  &.small {
    height: 45px;

    background-color: $mystica;

    .title {
      line-height: 45px;
      color: $lynch;
    }
  }

  .octicon {
    position: absolute;
    right: 14px;
    top: 14px;

    color: $lynch;
  }
}
