// -------------------------------------------
//   Numeric label
// -------------------------------------------

.numeric-label {
  padding: 3px 7px;

  font-size: 10px;
  background: $shark;
  border-radius: 40%;
}
