// *************************************
//   Application
// *************************************

// -------------------------------------
//   Vendor
// -------------------------------------

@import "vendor/normalize";
@import "vendor/icon-fonts";

// -------------------------------------
//   Mixins
// -------------------------------------

@import "mixins/clearfix";
@import "mixins/transition";
@import "mixins/transform";

// -------------------------------------
//   Base
// -------------------------------------

@import "base/variables";
@import "base/base";
@import "base/grid";
@import "base/animations";
@import "base/helpers";
@import "base/ui/buttons";
@import "base/ui/checkboxes";
@import "base/ui/forms";

// -------------------------------------
//   Layouts
// -------------------------------------

@import "layouts/fixed";
@import "layouts/content_container";
@import "layouts/horizontal_menu";
@import "layouts/vertical_menu";
@import "layouts/gate";
@import "layouts/task-box";
@import "layouts/dashboard";

// -------------------------------------
//   Modules
// -------------------------------------

@import "modules/menu_header";
@import "modules/numeric_label";
@import "modules/tag";
@import "modules/floating_box";
@import "modules/login_form";
@import "modules/chat-controls";
@import "modules/chat-box";
@import "modules/task";
@import "modules/editing";
@import "modules/extra-options";

.tag-list {
  list-style: none;
  padding: 0;
}

.menu-header {
  border-bottom: 1px solid $blue-haze;
}

.tab-content {
  display: none;

  &.active {
    display: initial;
  }
}
