<section class="fixed-top horizontal-menu">
  <ul class="horizontal-menu-list">
    <li class="menu-item iconic-item"><a href="#"><i class="octicon octicon-gist-secret"></i></a></li>
    <li class="dropdown menu-item" data-behavior="dropdown">
      <h3 class="dropdown-title">Jan Losert</h3>
      <i class="octicon octicon-chevron-down dropdown-toggle"></i>
      <ul class="dropdown-items">
        <li class="item"><a href="#">Item</a></li>
      </ul>
    </li>
  </ul>
</section>

<section class="fixed-left vertical-menu">
  <header class="menu-header">
    <h3 class="title">Dashboard</h2>
  </header>
  <nav class="multi-menu" role="navigation">
    <h4 class="single-menu-title">Menu Title</h4>
    <ul class="single-menu">
      <li class="single-menu-item">
        <a href="#">Menu Item</a>
        <span class="numeric-label"><%= (Random.rand * 100).to_i %></span>
      </li>
    </ul>
  </nav>
</section>

<div id="content-container">
  <div class="grid full-height">
    <div class="col-1-4 chat-box">
      <header class="small menu-header">
        <h3 class="title">Team Chat</h3>
        <i class="octicon octicon-chevron-down"></i>
      </header>
      <ul class="messages-list">
          <li class="message">
          </li>
      </ul>
    </div>
    <div class="col-3-4 task-box">
      <header class="small menu-header">
        <h3 class="title">Tasks</h3>
        <i class="octicon octicon-chevron-down"></i>
      </header>
      <ul class="tasks-list">
          <li class="task paused" data-behavior="task">
            <header>
              <i class="octicon task-status"></i>
              <h3 class="task-title">Task title</h3>
              <time class="time-spent">04:54</time>
              <ul class="tag-list">
                  <li class="tag <%= %w(blue pink green).sample %>">Tagname</li>
              </ul>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          </li>
      </ul>
    </div>
  </div>
</div>
