<div id="gate-container">
  <div class="top gate gate-animation"></div>
  <div class="bottom gate gate-animation"></div>

  <div class="floating-box center gate-animation" data-behavior="login-form">
    <figure class="image-header">
      <img src="http://lorempixel.com/400/200/people/9/" alt="" class="image-header">
      <figcaption class="caption">Hello!</figcaption>
    </figure>
    <div class="floating-box-content">
      <form class="login-form" method="post" action="/sessions">
        <div class="input-group">
          <div class="input-with-symbol">
            <i class="icon-user symbol"></i>
            <input type="text" placeholder="Email" name="email">
          </div>
        </div>
        <div class="input-group">
          <div class="input-with-symbol">
            <i class="icon-lock symbol"></i>
            <input type="password" placeholder="Password" name="pass">
          </div>
        </div>

        <div class="error-field"></div>

        <div class="input-group">
          <input type="checkbox" name="remember-me" id="remember-me">
          <label for="remember-me">Remember Me</label>
          <input type="submit" value="Login" class="button green">
        </div>
      </form>
    </div>
  </div>
</div>
